ul.pending-list-viewer {
    list-style-type: none;
    padding: 0;
}

ul.pending-list-viewer > li {
    border-left: 1em solid transparent;
    margin-bottom: 0.5em;
}

ul.pending-list-viewer > li:hover{
    background: lightgray;
}

ul.pending-list-viewer > li.selected{
    border-left: 1em solid deepskyblue;
    background: lightcyan;
}

ul.pending-list-viewer > li > div {
    display: inline;
}

ul.pending-list-viewer > li > div.clear {
    display: block;
    clear: both;
}

ul.pending-list-viewer > li > div > div > span {
    /*border-left: 1em;*/
    margin-left: 1em;
    white-space: nowrap;
}

ul.pending-list-viewer > li > div{
    /*border-left: 1em;*/
    width:8em;
    overflow: hidden;
}

ul.pending-list-viewer > li > div:first-child{
    /*border-left: 1em;*/
    width: 15em;
}