#launch-search {
    display: block;
}

tr {
    text-align: center;
    min-width: 60px;
    max-width: 400px;
    border-bottom: 1px solid lightgray;

}

tr:hover {
    background: lightgray;
}

th {
    border-bottom: 3px solid gray;
}

table {
    border-collapse: collapse;
    display: block;
    float: left;
}

tr.selected {
    background: lightcyan;
}