#launch-search {
    display: block;
}

tr.search-row {
    text-align: center;
    min-width: 60px;
    max-width: 400px;
    border-bottom: 1px solid lightgray;

}

tr.search-row:hover {
    background: lightgray;
}

th {
    border-bottom: 3px solid gray;
}

table {
    border-collapse: collapse;
    display: block;
    float: left;
}

tr.selected {
    text-align: center;
    min-width: 60px;
    max-width: 400px;
    border-bottom: 1px solid lightgray;
    background: lightcyan;
}

tr.curriculum-row{
    border-collapse: collapse;
    border: 1px solid lightgray;
    text-align: center;
}

td.curriculum-row{
    border-collapse: collapse;
    border: 1px solid lightgray;
}

td.curriculum-row:hover {
    border-collapse: collapse;
    border: 1px solid lightgray;
    background: lightgray;
}
